.navbar-brand img {
    height: 52px;
    width: auto;
}

.bg-2{
    background-position: 0 -60px;
}

.about-img-2 {
    overflow:hidden;
}


body p {
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 1.2px;
    color: #333333;
    margin-bottom: 15px;
}

