header.navigation{
    padding: 20px 0 30px 0;
}

.social-navbar li{
    float: left;
    margin: 5px;
}

.logo-text{
    font-size: 10.3px;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: bold;
}

.navigation .navbar-brand{
    padding: 0;
    height: 110px;
}

.navbar-brand img {
    height: 100px;
    width: auto;
}

.menu-nav{
    padding-right: 0;
    margin-top: 20px;
}

header.navigation .menu-nav .navbar-nav>li>a {
    font-size: 16px;
}

.bg-2{
    background-position: 0 -60px;
}

.about-img-2 {
    overflow:hidden;
}


body p {
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 1.2px;
    color: #333333;
    margin-bottom: 15px;
}

.dropdown-menu{
    min-width: 205px;
}

.site-content img{
    max-width: 100%;
    margin: 20px auto;
}

.multilingual-container{
    display: block;
    overflow: hidden;
}


.image-block{
    text-align: center;
    overflow: hidden;
    padding: 0 10px;
}

.image-block .border-box{
    height: 120px;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    margin: 0 5px;
}

.image-block img{
    vertical-align: middle;
    height: 100%;
    width: auto;
    margin: 0 auto;
}