<!-- Header Start -->
<header class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
              <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-responsive">
              <div class="logo-text hidden-xs">Psychotherapy & Counselling</div>
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navigation">
            <div class="row">
              <div class="col-md-8 social-media-nav pull-right">
                <ul class="nav navbar-nav navbar-right social-navbar">
                  <li><a href="https://www.instagram.com/io.coaching/" target="_blank"><i class="ion-social-instagram"></i></a></li>
                  <li><a href="https://www.facebook.com/IOCoaching-102738391421507/" target="_blank"><i class="ion-social-facebook"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/iremozkol/" target="_blank"><i class="ion-social-linkedin"></i></a></li>

                  {{ $siteLanguages := .Site.Languages}}
                  {{ $pageLang := .Page.Lang}}
                  {{ range .Page.AllTranslations }}
                    {{ $translation := .}}
                    {{ $flagPath := "images/flags/" }}
                    <li><a href="{{ $translation.Permalink }}" {{ if eq $pageLang .Lang}} class="active" {{ end }}><img src="{{ $flagPath | absURL }}{{ $translation.Language }}.png"></a></li>
                  {{ end }}

                </ul>
              </div>
              <div class="col-md-8 menu-nav">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ .Site.BaseURL | absLangURL }}">{{ .Site.Params.home }} </a></li>

                  {{ range .Site.Menus.main }}
                  {{ if .HasChildren }}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">{{ if i18n .Name }}{{ i18n .Name }}{{ else }}{{ .Name }}{{ end }} <span class="ion-ios-arrow-down"></span></a>
                    <ul class="dropdown-menu">
                      {{ range .Children }}
                        <li><a href="{{ .URL | absLangURL }}">{{ if i18n .Name }}{{ i18n .Name }}{{ else }} {{ .Name }} {{ end }}</a></li>
                      {{ end }}
                    </ul>
                  </li>
                  {{ else }}
                  <li><a href="{{ .URL | absLangURL }}">{{ if i18n .Name }}{{ i18n .Name }}{{ else }} {{ .Name }} {{ end }}</a></li>
                  {{ end }}
                  {{ end }}
                </ul>
              </div>
            </div><!-- /.row -->
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->