{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="contact-form-section">
  <div class="container">

    <div class="alert alert-success" id="thankyou-message" style="display: none">
      <h3 style="margin: 20px">{{ .Params.Success_message }}</h3>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
          <form method="POST" class="contact-form" action="https://script.google.com/macros/s/AKfycbx8QClid2t3ZtOQBJR3eJSNy09RqpTNg2iiKQjDb5sNknh-COkX/exec" >
            <div class="block">
              <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="{{ i18n "name" }}" required="required">
              </div>
              <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="{{ i18n "email" }}" required="required">
              </div>
              <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="{{ i18n "phone_optional" }}">
              </div>
            </div>
            <div class="block">
              <div class="form-group-2">
                <textarea name="message" class="form-control" rows="4" placeholder="{{ i18n "your_message" }}" required="required"></textarea>
              </div>
              <button class="btn btn-default" type="submit">{{ i18n "submit" }}</button>
            </div>
            </form>
        </div>
      {{ if .Site.Params.gmap.enable }}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="google-map">
            <div class="map" id="map_canvas" data-latitude="{{ .Site.Params.gmap.map_latitude }}" data-longitude="{{ .Site.Params.gmap.map_longitude }}" data-marker="{{ .Site.Params.gmap.map_marker | relURL }}" data-marker-name="{{ .Site.Title }}"></div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="contact-box row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <ul class="address-block">
            <li><i class="ion-ios-location-outline"></i>{{i18n "location"}}: {{ .Site.Params.location }}</li>
            <li><i class="ion-ios-email-outline"></i>{{i18n "email"}}:  <span>{{ .Site.Params.email }}</span></li>
            <li><i class="ion-ios-telephone-outline"></i>{{i18n "phone"}}: {{ .Site.Params.mobile }}</li>
          </ul>
          <ul class="social-icons">
            {{ range .Site.Params.social }}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<script data-cfasync="false" type="text/javascript" src="{{ `js/contact-form-handler.js` | absURL }}"></script>
{{ end }}
